#id's of the custom fields within clickup which are required to manipulate them
get them via https://developer.clickup.com/reference/getaccessiblecustomfields
CLICKUP_CUSTOM_FIELD_ID_CUSTOMER=
CLICKUP_CUSTOM_FIELD_ID_HUBSPOT_TICKET_ID=
CLICKUP_CUSTOM_FIELD_ID_EMAIL_CONTACT=

#id of placeholder customer to fall back on when no match is found during ticket creation
#the name of this company is 'stefco' and should make it easy to find any tasks that
#failed to get linked to a customer
FALLBACK_CLICKUP_CUSTOMER_ID=

#id of list the that clickup pushes new tasks to and collects custom_id information from
CLICKUP_LIST_ID=
#id of your HubSpot portal
HUBSPOT_PORTAL_ID=
#port this app is listening on
LISTENING_PORT=
#acces tokens for both ClickUp and HubSpot API's
CLICKUP_ACCESS_TOKEN=
HUBSPOT_ACCESS_TOKEN=
ACTOR_ID=
